body {
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.container {
  /* position: relative; */
  width: 100%;
  margin: 0 auto;
}

.bit1,
.bit2,
.bit3 {
  margin: -2px 0;
}

.bit1 {
  width: 30px;
}

.bit2 {
  width: 30px;
  mix-blend-mode: multiply;
}

.bit3 {
  width: 200px;
  mix-blend-mode: difference;
}

.img1-container,
.img2-container,
.img3-container {
  position: absolute;
  top: 0;
}